body {
  font-family: Avenir Next Cyr;
  margin: 0;
  background-color: #181818;
  overflow-x: hidden;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.body-noscroll {
  overflow-y: hidden;
}

.preloader-dots {
  margin: 0;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.page-content-wrapper {
  opacity: 1;
  background-color: #181818;
  display: none;
}

.loader-ellips {
  font-size: 20px;
  /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: white;
  /* change color here */
  position: absolute;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}

.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}

.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@-webkit-keyframes reveal {
  from {
    -webkit-transform: scale(0.001);
            transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reveal {
  from {
    -webkit-transform: scale(0.001);
            transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide {
  to {
    -webkit-transform: translateX(1.5em);
            transform: translateX(1.5em);
  }
}

@keyframes slide {
  to {
    -webkit-transform: translateX(1.5em);
            transform: translateX(1.5em);
  }
}

@-webkit-keyframes dropdown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropdown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10200;
  width: 260px;
  height: 100%;
  background-color: #181818;
  padding: 75px 30px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
}

.menu-close-cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 45px;
  right: 50px;
}

.close-cross-bar {
  display: block;
  height: 1px;
  background-color: white;
  width: 100%;
}

.mobile-menu-list .nav-link {
  font-size: 1.2rem;
}

.mobile-menu-list {
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}

.mobile-menu-list .menu-point {
  margin: 0 0 20px 0;
}

.close-cross-bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-cross-bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu-contact {
  padding: 20px 0;
  border-bottom: 1px white solid;
}

.mobile-menu-social .footer-social-media {
  padding: 20px 0;
}

.footer-social-media .fab {
  font-size: 19px;
}

.mobile-menu-social .footer-social-media {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mobile-menu-social .footer-social-media .menu-point {
  margin: 0 15px 0 0;
}

.burger-menu {
  display: none;
}

.burger-menu-bar {
  display: block;
  width: 2.25rem;
  height: 1px;
  width: 22px;
  background-color: #fff;
}

.burger-menu-bar:not(:last-child) {
  margin-bottom: 5px;
}

.dropdown-invisible {
  height: 0px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}

.dropdown-invisible-open {
  height: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.loader-ellips__dot:nth-child(1) {
  -webkit-animation-name: reveal;
          animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  -webkit-animation-name: slide;
          animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  -webkit-animation-name: reveal;
          animation-name: reveal;
  animation-direction: reverse;
}

.header-menu-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-menu-sticky {
  padding: 20px 50px;
}

.header-menu-wrapper-sticky {
  background-color: #181818;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li:not(:last-child) {
  margin: 0 32px 0 0;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link-active {
  color: #bebebe;
  cursor: default;
}

.nav-link:hover {
  color: #bebebe;
}

.header-logo {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-services {
  margin-top: 50px;
}

.about-us-sectiion {
  text-align: center;
  color: white;
  width: 80vw;
}

.section-header {
  padding: 0 5vw;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.section-line {
  width: 50px;
  margin-bottom: 40px;
}

.read-more {
  margin: 0 0 100px 0;
}

.read-more-header {
  text-align: left;
  font-weight: 400;
}

.read-more-paragraph {
  text-align: left;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

.link-button {
  width: 100%;
  max-width: 220px;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.read-more-button {
  text-align: center;
}

.link-button:hover {
  background-color: white;
  color: #181818;
}

.latest-projects {
  width: 100vw;
  text-align: center;
}

.project-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 25vw;
  height: 14vw;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
}

.project-item-hyperlink {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.project-item-link {
  padding: 0;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(24, 24, 24, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.project-item-link:hover {
  background: transparent;
  color: transparent;
}

.dropdown-element {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}

.dropdown-text-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dropdown-visible-text {
  margin: 0 0 0 30px;
  font-size: 1.125rem;
}

.dropdown-arrow {
  width: 24px;
  height: 24px;
  margin: 0;
}

arrowImageOpened {
  -webkit-animation: rotationAnimation 0.4s forwards;
          animation: rotationAnimation 0.4s forwards;
}

@-webkit-keyframes rotationAnimation {
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotationAnimation {
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.arrowImageClosed {
  -webkit-animation: rotationAnimationClosed 0.4s forwards;
          animation: rotationAnimationClosed 0.4s forwards;
}

@-webkit-keyframes rotationAnimationClosed {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotationAnimationClosed {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.arrow-opened {
  -webkit-animation: rotationAnimation 0.4s forwards;
          animation: rotationAnimation 0.4s forwards;
}

.arrow-down {
  -webkit-animation: rotationAnimationClosed 0.4s forwards;
          animation: rotationAnimationClosed 0.4s forwards;
}

.hidden-text {
  display: none;
}

.visible-text {
  display: block;
  line-height: 1.5;
}

.dropdown-section {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px auto 0px auto;
  padding: 40px 0;
  border-top: 1px solid #fff;
  width: 80vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyright {
  margin: 0;
}

.footer-menu,
.footer-contact,
.footer-social-media,
.mobile-menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu .menu-point {
  margin: 0 0 10px 0;
}

.footer-social-media .menu-point {
  margin: 0 0 10px 0;
}

.footer-contact .menu-point {
  margin: 0 0 10px 0;
}

.fab {
  font-size: 14px;
  margin-right: 2px;
}

.slick-slide-item {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
}

.slider-1 {
  background: url(/Images/design4.jpg);
  background-size: cover;
}

.slider-2 {
  background: url(/Images/design8.jpg);
  background-size: cover;
}

.slider-3 {
  background: url(/Images/design6.jpg);
  background-size: cover;
}

.slider-slide {
  padding: 0;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(24, 24, 24, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.slider-slide-title {
  text-decoration: none;
  color: white;
  font-weight: 200;
  outline: none;
  font-size: 3rem;
}

.about-us-page-section {
  text-align: center;
  color: white;
  margin-top: 150px;
  width: 80vw;
}

.about-us-read-more-paragraph {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

.about-us-read-more {
  margin: 0 0 50px 0;
}

.about-us-footer {
  margin: 50px auto 0px auto;
}

.projects-page {
  margin-top: 100px;
}

.project-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.project-grid-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.project-page-item-horizontal {
  width: 80vw;
}

.project-page-item-vertical-double {
  width: 42vw;
}

.project-container {
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .projects-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .project-item {
    width: 33.3333vw;
    height: 20vw;
  }
  .firsttogo-item {
    display: none;
  }
}

@media (max-width: 900px) {
  .website-nav-bar {
    display: none;
  }
  .projects-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .secondtogo-item {
    display: none;
  }
  .project-item {
    width: 50vw;
    height: 30vw;
  }
  .project-item-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: rgba(24, 24, 24, 0.1);
  }
  .project-link {
    margin: 0 0 10px 10px;
    font-size: 2rem;
  }
  .burger-menu {
    display: block;
  }
}

@media (max-width: 568px) {
  .thirdtogo-item {
    display: none;
  }
  .project-item {
    width: 100vw;
    height: 60vw;
  }
  .projects-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .project-link {
    font-size: 1.5rem;
  }
  .header-logo {
    font-size: 1.2rem;
  }
  .read-more-header {
    font-size: 1.1rem;
  }
  .project-page-item-horizontal {
    width: 90vw;
  }
  .read-more-paragraph {
    font-size: 0.9rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0;
  }
  .footer-column {
    margin-bottom: 30px;
  }
  .header-menu {
    padding: 20px;
  }
  .header-menu-sticky {
    padding: 20px 20px;
  }
}
/*# sourceMappingURL=style.css.map */